{{ define "main" }}
<main role="main"{{ if eq .Section "series" }} class="series"{{ end }}>
    <section class="hero">
        <div class="overlay">
            <h1><span class="en">{{ .Title }}</span><span class="zh">{{ .Params.zh | default .Title }}</span>{{ if eq .Section "posts" }}<span class="count">{{ len .Pages }}</span>{{ end }}</h1>
            <article>
                {{ .Content }}
            </article>
        </div>
    </section>

    <section>
        <div class="overlay postlist">
            {{ range .Pages.GroupByDate "2006" }}
            <h2 class="postlist-year">{{ .Key }}</h2>
            {{ range .Pages }}
            <p>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="dateprefix">{{ .Date.Format "Jan 2" }}</span>
            </p>
            {{ end }}
            {{ end }}
        </div>
    </section>
</main>
{{ end }}
