{{ define "main" }}
<main role="main">
    <div class="hero">
        <div class="overlay">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="meta overlay">
            <div class="meta-item date">{{ .Date.Format "2 January 2006" }}</div>
            <div class="meta-item readtime">{{ .ReadingTime }} mins</div>
        </div>
    </div>
    <article class="overlay">
        {{ .Content }}

        <hr/>
        {{ with .PrevInSection }}
        <p class="prevInSection">
            &larr;
            <a href="{{ .Permalink }}"><em>{{ .Title }}</em></a>
        </p>
        {{ end }}
        {{ with .NextInSection }}
        <p class="nextInSection">
            <a href="{{ .Permalink }}"><em>{{ .Title }}</em></a>
            &rarr;
        </p>
        {{ end }}
    </article>
</main>
{{ end }}
